<%= paginator.render do %>
  <nav class="flex items-center justify-center space-x-1 my-8" role="navigation" aria-label="pager">
    <%# Кнопка "В начало" %>
    <%= first_page_tag unless current_page.first? %>

    <%# Сами номера страниц %>
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>

    <%# Кнопка "В конец" %>
    <%= last_page_tag unless current_page.last? %>
  </nav>
<% end %>